<html>
<head>
    {% block header %}
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

    <style type="text/css">
            /*div#fastapp { background-color: darkgrey ; border-style:0px; margin: 0px}*/
        div#btn-group {
            margin-top: 20px;
        }

        body {
            padding-top: 50px;
        }

        .content {
            padding: 40px 15px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("button.base").click(function () {
                window.location.replace("/fastapp/" + $(this).text() + "/index");
            });
        });
    </script>
    {% endblock %}

    {% block extra_header %}
    {% endblock %}

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/fastapp/?refresh">Fastapp</a>
            <!--<a class="navbar-brand" href="#">Bases for {{ DROPBOX_USERNAME }}</a>-->
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form form-inline">
                <div class="btn-group">
                    {% for base in bases %}
                    {% ifequal FASTAPP_NAME base %}
                    <div class="btn-group">
                        <button class="btn btn-{% ifequal FASTAPP_NAME base %}success{% endifequal %}  dropdown-toggle"
                                data-toggle="dropdown">{{ base }} <span class="caret"></span></button>

                        <ul class="dropdown-menu">
                            {% for exec in DJEND_EXECS %}
                            <li><a href="/fastapp/{{ FASTAPP_NAME }}/exec/{{exec}}/">{{ exec }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}

                    <button type="button" class="base btn btn-default {% ifequal FASTAPP_NAME base %}btn-danger{% endifequal %}">{{ base }}</button>

                    {% endifequal %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <!--/.nav-collapse -->
</div>

<div class="container">
    <div class="content">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message|safe }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>