<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fastapp</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}bare/css/bootstrap.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Add custom CSS here -->
    <style>
        body {
            margin-top: 60px;
        }

        li a.active {
            background-color: darkgrey;
        }
    </style>

    {% block extra_header %}
    {% endblock %}

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/fastapp/">Fastapp</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href=".?refresh">Refresh</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Bases<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for base in bases %}
                        <li><a class="{% ifequal active_base base %}active{%endifequal%}"
                               href="/fastapp/{{ base.name }}/index/">{{ base.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% endif %}
            {% if not user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shared Bases<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for name, shared_key in shared_bases.items %}
                        <li><a class="{% ifequal active_base base %}active{%endifequal%}"
                               href="/fastapp/{{ name }}/index/?shared_key={{ shared_key }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

</div>

<!-- /.container -->

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            {% if FASTAPP_NAME %}
            <h1>{{ FASTAPP_NAME }} <a href="{{ active_base.shared }}">
                {% if user.is_authenticated %}
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-share"></span> Share
                </button>
                {% endif %}
            </a></h1>


            {% for exec in FASTAPP_EXECS %}
            <li><a href="/fastapp/{{active_base.name}}/exec/{{exec.name}}/">{{ exec.name}}</a></li>
            {% endfor %}
            {% endif %}

            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message|safe }}</div>
            {% endfor %}
            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>
<!-- /.container -->

<!-- JavaScript -->
<script src="{{ STATIC_URL }}bare/js/bootstrap.js"></script>


</body>
</html>